<!-- 
  Nagy János
  Szoft II N
  2022-11-09
 -->

 <div class="container">
  <h1>Feladat 0303</h1>
  <h2>Gyepesítés</h2>
  <div class="gyepForm">
    <div class="mb-3">
      <label for="" class="form-label"></label>
      <input type="text" class="form-control"
      [(ngModel)]="diameter">
    </div>
    <button class="btn btn-info"
    (click)="calcArea()">Számít</button>
    <div class="mb-3">
      <label for="result">Ennyibe kerül (Ft)</label>
      <input type="text" class="form-control"
      [(ngModel)]="price">
    </div>
  </div>
  <div class="bg-success text-center">
    Nagy János, Szoft II N, 2022-11-09
  </div>
 </div>